@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Eurostile';
	font-style: normal;
	font-weight: normal;
	src: local('Eurostile'), url('/fonts/eurostile.woff') format('woff');
  }
  
  @font-face {
	font-family: 'EuroStyleNormal';
	font-style: normal;
	font-weight: normal;
	src: local('EuroStyleNormal'), url('/fonts/EuroStyleNormal.woff') format('woff');
  }

  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1.2rem;
	font-family: 'Eurostile', sans-serif;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev{
    color: #a201f3 !important; 

}

@media (max-width: 640px) {
	.swiper-button-prev::after, .swiper-button-next::after {
	  font-size: 1.5rem !important;
	}
  }
  
  @media (min-width: 641px) and (max-width: 768px) {
	.swiper-button-prev::after, .swiper-button-next::after {
	  font-size: 2rem !important;
	}
  }

  @media (min-width: 1600px) {
	h4, button {
	  font-size: 1.8rem !important;
  }
}
  